{% extends 'PaneApp/padre.html' %}

{% load static %}

{% block contenidoDinamico %}

    <!-- Content section 1 -->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <h2>¿Estás seguro de que deseas eliminar la pizza "{{ pizza.nombre }}"?</h2>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                        <a href="{% url 'pizzas' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
