{% extends 'PaneApp/padre.html' %}

{% load static %}

{% block contenidoDinamico %}

    <!-- Content section 1 -->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <h1>Crear Ingrediente</h1>
                    <form action='' method="post"> {% csrf_token %}
                        <table>
                            {{ ingrediente_form.as_table }}
                        </table>
                        <button type="submit" class="btn btn-primary">Cargar nuevo Ingrediente</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Content section 2 -->
    <section>
        <div class="accordion accordion-flush container px-5" id="accordionFlushExample">
            <br>
            <h2>Lista de Ingredientes</h2>
            {% for ingrediente in ingredientes %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ ingrediente.id }}" aria-expanded="false" aria-controls="collapse{{ ingrediente.id }}">
                            {{ ingrediente.nombre }}
                        </button>
                    </h2>
                    <div id="collapse{{ ingrediente.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <strong>Descripción:</strong> {{ ingrediente.descripcion }}<br>
                            <strong>Proveedor:</strong> {{ ingrediente.proveedor.nombre }}<br>
                            <a href="{% url 'borrar_ingrediente' ingrediente.id %}" class="btn btn-danger">Borrar Ingrediente</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
