{% extends 'PaneApp/padre.html' %}

{% load static %}

{% block contenidoDinamico %}

<!-- Content section 1-->
<section id="scroll">
    <div class="container px-7">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-7"><img class="img-fluid" src={% static 'PaneApp/assets/img/pizza.png' %} alt="..." />
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">PaneApp!</h2>
                    <p>¡Bienvenido a nuestra aplicación web para gestionar proveedores, ingredientes y el stock de una
                        pizzería! Nuestra plataforma está diseñada para simplificar la administración de tu negocio,
                        permitiéndote centrarte en lo que más importa: crear deliciosas pizzas. Con nuestra aplicación,
                        podrás llevar un registro de tus proveedores, administrar ingredientes frescos y mantener un
                        control preciso de tu inventario. Ya no tendrás que preocuparte por quedarte sin los
                        ingredientes necesarios para tus pizzas favoritas. Simplifica tu operación y optimiza tu
                        pizzería con nuestra aplicación web. ¡Comencemos a crear las pizzas más sabrosas juntos!.</p>
                </div>

                <!-- Contenedor de registro condicional -->
                {% if not user.is_authenticated %}
                <div class="p-5">
                    <h3 class="display-4">Para usar nuestra Aplicación sólo debes registrarte <a href="{% url 'Register' %}">aquí</a></h3>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>


{% endblock %}