{% extends 'PaneApp/padre.html' %}

{% load static %}

{% block contenidoDinamico %}

<!-- Content section 1 -->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <br>
                <h3>Debes iniciar sesion para acceder a la web</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Inciar sesion</button>
                </form>
                <a href="{% url 'Register' %}" class="btn btn-secondary">Registro</a>

                <br>
            </div>
        </div>
    </div>
</section>

{% endblock %}