{% extends 'PaneApp/padre.html' %}

{% load static %}

{% block contenidoDinamico %}

        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <h1>Crear Proveedor</h1>
                        <form action='' method="post"> {% csrf_token %}
                            <table>
                                {{ miForm.as_table }}
                            </table>
                            <button type="submit" class="btn btn-primary">Cargar nuevo Proveedor</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Content section 2 -->
        <section>
            <div class="accordion accordion-flush container px-5" id="accordionFlushExample">
                <br>
                <h2>Lista de Proveedores</h2>
                {% for proveedor in proveedores %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ proveedor.id }}" aria-expanded="false" aria-controls="collapse{{ proveedor.id }}">
                                {{ proveedor.nombre }}
                            </button>
                        </h2>
                        <div id="collapse{{ proveedor.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <strong>Domicilio:</strong> {{ proveedor.direccion }}<br>
                                <strong>Teléfono:</strong> {{ proveedor.telefono }}<br>
                                <strong>Email:</strong> {{ proveedor.email }}<br>
                                <a href="{% url 'borrar_proveedor' proveedor.id %}" class="btn btn-danger">Borrar Proveedor</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
  
{% endblock %}