{% extends 'PaneApp/padre.html' %}

{% load static %}

{% block contenidoDinamico %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <br>
                <h3>Nuevo usuario</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Registro</button>
                    <a href="{% url 'Login' %}" class="btn btn-secondary">ir a inicio de sesion</a>
                </form>
                
                <br>
            </div>
        </div>
    </div>
</section>

{% endblock %}